p {
	color: navy;
}

p.info {
	font-size: small;;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: 2px 2px 8px navy;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background:linear-gradient(90deg, white, #ffefaf);
}

div#zentai {
	grid-template-columns: 1fr 1fr;
	display: grid;
	width: 1024px;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px; 
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

img.fire {
	float: right;
	width: 80px;
}